---
layout: null
title: 气泡图沿时间分步
category: 散列/气泡图
---

{% include chart-header.html %}

<div class="detail-section">
    <div id="canvas">

    </div>
</div>

{% include chart-script.html %}
  <script type="text/javascript">
        var chart = new AChart({
          id : 'canvas',
          width : 950,
          height : 500,
          plotCfg : {
            margin : [50,50,100]
          },
          xAxis : {
            type : 'time'
          },
          yAxis : {
            title : {
              text : '气泡'
            },
            min : -10
          },  
          tooltip : {
            shared : true
          },
          seriesOptions : {
              bubbleCfg : {
                
              }
          },
          series: [{
            name : 'bubble1',
            data: [
                [1391270400000, 81, 63],
                [1391270400000, 5, 89],
                [1391270400000, 50, 73],
                [1391270400000, 22, 14],
                [1391270400000, 24, 20],
                [1391270400000, 37, 34],
                [1391270400000, 56, 53],
                [1391270400000, 45, 70],
                [1391270400000, 44, 28],
                [1391270400000, 52, 59]
            ],
            circle : {
                fill : 'r(0.4, 0.3)rgba(255,255,255,0.5)-rgba(69,114,167,0.5)'
            }
        }]
        });

        chart.render();
  </script>

{% include chart-footer.html %}