---
layout: null
title: 基本图表
category: 股票图
---

{% include chart-header.html %}

<div class="detail-section">
    <div id="canvas" style="width : 950px;height : 400px;">

    </div>
</div>

{% include chart-script.html %}
{% include stock-script.html %}
{% include script.html %}

  <script type="text/javascript">
  $.getJSON('/json/stock-data.json',function  (data) {
        var stock = new AStock({
            id : 'canvas',
            width : 950,
            height : 400,
            plotCfg : {
                margin : [60,50,60,50] //画板的边距
            },
            xAxis : {//格式化时间
                type : 'time' ,
                formatter : function(value)   {
                    return Chart.Date.format(new Date(value),'yyyy-mm-dd');
                },
                labels : {
                  label : {
                    'font-size': '10'
                  }
                },
                animate : false
            },
            yAxis : {
                animate : false
            },
            seriesOptions : { //设置多个序列共同的属性
                lineCfg: {
                    markers: null,
                    animate: false
                }
            },
            legend: null,
            xTickCounts : [1,8],//设置x轴tick最小数目和最大数目 
            tooltip : {
                valueSuffix : '￥'
            },
            series : [{
                name: 'USD to EUR',
                line : {
                    'stroke-width' : 1,
                    'stroke' : 'rgb(47,126,216)'
                },
                lineActived : {
                    'stroke-width' : 1
                },
                area : {
                  fill : '90-#fff-rgb(47,126,216)',
                  stroke : 'none'
                },
                pointInterval: 24 * 3600 * 1000,
                pointStart: Date.UTC(2006, 0, 01),
                data: data
            }]
        });
        stock.render();
    });
  </script>

{% include chart-footer.html %}